<!DOCTYPE html>
<html>
<head>
  <title>VimshopLocations</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <header class="row span16">
      <h1>VIMcasts workshops</h1>
    </header>
    <section class="row span16">
      <%= yield %>
    </section>
  </div>

</body>
</html>
